{% extends 'base.html' %}

{% block content %}


<div class="texto">
    <h1>INÍCIO</h1>
</div>

{% include 'nav.html' %}

<div class="container-index">
    <div class="textos">
        <h3>Prova Fabiano Flask</h3>
        <p>Você como desenvolvedor Júnior na empresa Tech-Solutions foi designado para implementar um MVP (Mínimo Produto Viável) de um sistema de gestão de tarefas. O Cliente necessita de:</p>
        <ul>
            <li>Armazenamento persistente de tarefas com data limite</li>
            <li>Mecanismo de busca inteligente</li>
            <li>Interface WEB básica, mas funcional</li>
        </ul>
    </div>
</div>
{% endblock %}