{% extends 'base.html' %}

{% block content%}


<div class="texto">
    <h1>CADASTRAR TAREFA</h1>
</div>

{% include 'nav.html' %}

<div class="container-forms">
    <form action="" method="post" class="formsCadastro">
        {{form.csrf_token}}

        {{form.titulo.label(style="margin-bottom: 5px;")}}
        {{form.titulo(style="margin-bottom: 15px; padding: 0.5rem 0.5rem;")}}

        {{form.descricao.label(style="margin-bottom: 5px;")}}
        {{form.descricao(style="margin-bottom: 15px; padding: 0.5rem 0.5rem;")}}

        {{form.data_limite.label(style="margin-bottom: 5px;")}}
        {{form.data_limite(style="margin-bottom: 25px; padding: 0.5rem 0.5rem;")}}

        {{form.submit(class="button")}}


    </form>
</div>


{% endblock %}